body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#323437;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .app-title {
    color: #e2b714;
    font-size: 2rem;
    margin-bottom: 60px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color:  #323437;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .toggle-container {
    display: flex;
    align-items: center;
  }
  
  .chessboard-container-game {
    width: 830px;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chessboard-wrapper-game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;
  }
  
  .main-container-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0px;
  }
  
  .chessboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }