
.square {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}

.square.selected {
  background-color: rgba(0, 0, 0, 0.2);
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}

.piece {
  width: 80%;
  height: 80%;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.2s;
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}