.board-panel {
  width: 200px;
  height: 800px;
  background-color: #2c2e31;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 25px;
}
  
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.toggle-container {
  display: flex;
  align-items: center;
  color : #fff;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}
  
  /* Button styling */
.board-button {
  font-family: "Raleway", sans-serif;;
  font-optical-sizing: auto;
  font-size: 1.2rem;
  color: #fff;
  background-color: #3a3c3f;
  border: none;
  width: 170px;
  height: 75px;
  margin: 5px; /* Adds a little space around buttons */
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, transform 0.5s; /* Smooth background and press 
  effect */
}

.start-button {
  font-family: "Raleway", sans-serif;;
  font-optical-sizing: auto;
  font-size: 1.2rem;
  color: #000;
  background-color: #4eba5e;
  border: none;
  width: 170px;
  height: 75px;
  margin: 5px; /* Adds a little space around buttons */
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, transform 0.5s; /* Smooth background and press 
  effect */
}

.start-button:hover {
  background-color: #a3e0ac; /* Lighter shade on hover */
}

.board-button:active {
  transform: scale(0.95); /* Press down effect */
}

.board-button:hover {
  background-color: #505357; /* Lighter shade on hover */
}

.board-button:active {
  transform: scale(0.95); /* Press down effect */
}

.program-piece-btn {
  background-color: #e2b714; 
  color: #000;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.program-piece-btn:hover {
  background-color: #e5dec3; 
}

.board-panel-title {
  color: #e2b714;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.selected-piece-image img {
  width: 50px; /* Adjust as necessary */
  height: 50px; /* Adjust as necessary */
  margin-bottom: 10px;
}

.selected-piece-title {
  color: #e2b714;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
}

.selected-piece-box {
  width: 80%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-top: 10px;
}

.selected-piece {
  width: 90px;
  height: 90px;
}

.empty-box {
  width: 60px;
  height: 60px;
  background-color: #444;
  border-radius: 4px;
}