.piece-set {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin: 20px 0;
  background-color: #2c2e31;
  height: 80px;
  width: 420px;
  border-radius: 25px;
  border: 6px #e2b714 transparent 0.5;
  padding: 5px;
}

  
  .piece {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  .piece.selected {
    filter: drop-shadow(0 0 5px #e2b714) drop-shadow(0 0 10px #e2b714); 
  }