.piece-panel {
  width: 260px;
  height: 800px;
  background-color: #2c2e31;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 25px;
}

.direction-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;;
}

.column-labels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  color: #e2b714;
  justify-self: center;
}

.direction-rows {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: grid;
  grid-template-columns: 95px 90px 90px;
  align-items: center;
  justify-content: center;
}

.row-label {
  text-align: center;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: small;
  color: #e2b714;
}

button {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.5rem;
  color: #fff;
  background-color: #3a3c3f;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, transform 0.5s;
  justify-self: left;
  margin-left: 5px;
}

button.active {
  background-color: #e2b714;
  color: #000;
}

button:hover {
  background-color: #ddd;
}

.size-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.program-buttons {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.program-buttons button {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.8rem;
  color: #fff;
  background-color: #3a3c3f;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  width: 80px;
  height: 80px;
}

.program-buttons button:hover {
  background-color: #ddd;
}

label {
  color: #fff;
}

.program-buttons button.active-attack {
  background-color: #ff0000; /* Red */
  color: #fff;
}

.program-buttons button.active-translate {
  background-color: #0000ff; /* Blue */
  color: #fff;
}