.piece-panel {
  width: 230px;
  height: 800px;
  background-color: #2c2e31;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 25px;
}

.direction-grid {
  width: 100%;
  border-collapse: collapse;
}

.direction-grid th,
.direction-grid td {
  padding: 4px;
  text-align: center;
}

.direction-grid th {
  font-weight: bold;
  color: #e2b714;
}

.direction-grid .row-label {
  width: 40px;
  white-space: nowrap;
  vertical-align: bottom;
}

.direction-grid .row-label img {
  width: 45px; /* Adjust the size of the SVG icons */
  height: 45px;
  margin-right: 15px;
  vertical-align: middle;
  user-select: false;
}

.direction-grid .row-label img.none {
  filter: invert(77%) sepia(40%) saturate(5%) hue-rotate(71deg) brightness(94%) contrast(87%);
}

.direction-grid .row-label img.attack {
  filter: invert(17%) sepia(100%) saturate(3295%) hue-rotate(338deg) brightness(87%) contrast(100%);
}

.direction-grid .row-label img.translate {
  filter: invert(58%) sepia(34%) saturate(3140%) hue-rotate(195deg) brightness(100%) contrast(87%);
}

.direction-grid .row-label img.both {
  filter: invert(42%) sepia(94%) saturate(2631%) hue-rotate(228deg) brightness(98%) contrast(91%);
}

.direction-grid button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #3a3c3f;
  transition: background-color 0.3s;
  cursor: pointer;
}

.direction-grid button.active {
  background-color: #e2b714;
}

.direction-grid button:hover {
  background-color: #ddd;
}

.size-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.program-buttons {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.program-buttons button {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.8rem;
  color: #fff;
  background-color: #3a3c3f;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  width: 80px;
  height: 80px;
}

.program-buttons button:hover {
  background-color: #ddd;
}

label {
  color: #fff;
}

.program-buttons button.active-attack {
  background-color: #ff0000; /* Red */
  color: #fff;
}

.program-buttons button.active-translate {
  background-color: #0000ff; /* Blue */
  color: #fff;
}

.save-piece {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2rem;
  color: #000;
  background-color: #4eba5e;
  border: none;
  width: 170px;
  height: 75px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, transform 0.5s;
  align-self: center;
}

.save-piece:hover {
  background-color: #a3e0ac; /* Lighter shade on hover */
}